extends layout

block scripts
  script(src='/javascripts/progress.js')
  script(src='/javascripts/uploader.js')

block content
  .container
    if episode._id
      h1 Edit episode
    else
      h1 Post a new episode
    if mode === 'err'
      p.p-3.mb-2.bg-danger.text-white All fields are required.

    form(method='post' id='uploader')
    form(method='post' class='js-upload-form')
      .form-group
        label(for='title') Title
        input(id='title' name='title' class='form-control' required value=episode.title)
      .form-group
        label(for='no') Episode No.
        input(id='no' name='no' class='form-control' required value=episode.no type='number')
      .form-group
        label(for='file') File(s)
        input(id='file' type='file' multiple  accept='.png, .jpg, .jpeg')
      input(type='hidden' name='series_id' value=series._id)
      input(type='hidden' name='series_slug' value=series.slug)
      input(type='hidden' name='_id' value=episode._id)
      .js-toolbar.d-none
        a(href='#' class='js-delete-file') Delete
      ul.js-preview.list-unstyled
      input(type='hidden' value=contents class='js-contents')
      hr
      button(class='btn btn-primary js-post mr-2' type='button') Post
      a(href='/series/' + series.slug class='btn') Cancel
  div(class='modal fade js-progress-modal' tabindex='-1')
    .modal-dialog
      .modal-content
        .modal-body
          p Uploading..
          #progress-bar
  div.modal-backdrop.fade.js-modal-backdrop.d-none

